<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CoulombPotential.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Example.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Example2.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Example_Remesher.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Repulsor.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Test_Preconditioner.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AF3DADB428ECF0470089476A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF68F6DA2A4FE96E00009C92</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF789CF52A4AC95800546B46</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF83C2EC293B44B200A23318</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF9C9BCA2A5230B8008AB9E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AFB9A50A2A0D1726008E5520</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
